langgraph
langchain
langchain_community
faiss-cpu
pandas
numpy
scikit-learn
sentence-transformers
jupyter
ipykernel
groq
langchain_huggingface
python-dotenv
streamlit
requests
pydeck
plotly
langchain-groq
openai
google-generativeai
langchain-openai
langchain-google-genai